.card {
  border: none;
  height: 93vh;
}

.dots {
  height: 20px;
  width: 20px;
  margin-top: 4px;
  margin-left: 4px;
  background-color: var(--primary);;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 10px
}

