<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <button class="btn btn-outline-light" (click)="global.clickEvent()">
        <!-- <i class="fa fa-bars"></i> -->
        <span class="navbar-toggler-icon"></span>
      </button>
    
    <a class="navbar-brand ms-3 text-white" href="#">CGS</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active  text-light" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-light" href="#">Profile</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
